<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TransactionProcessing_ICwsTransactionProcessing">
                    <security mode="Transport"/>
                </binding>
                <binding name="BasicHttpBinding_ITMSOperations">
                    <security mode="Transport"/>
                </binding>
                <binding name="BasicHttpBinding_IDataServicesBilling">
                    <security mode="Transport"/>
                </binding>
                <binding name="ServiceInfoProcessing_ICWSServiceInformation">
                    <security mode="Transport"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.cert.nabcommerce.com/2.0.18/Txn" binding="basicHttpBinding" bindingConfiguration="TransactionProcessing_ICwsTransactionProcessing" contract="Txn.ICwsTransactionProcessing" name="TransactionProcessing_ICwsTransactionProcessing"/>
            <endpoint address="https://api.cert.nabcommerce.com/2.0.18/DataServices/TMS" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITMSOperations" contract="Tms.ITMSOperations" name="BasicHttpBinding_ITMSOperations"/>
            <endpoint address="https://api.cert.nabcommerce.com/2.0.18/DataServices/Billing" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataServicesBilling" contract="Tms.IDataServicesBilling" name="BasicHttpBinding_IDataServicesBilling"/>
            <endpoint address="https://api.cert.nabcommerce.com/2.0.18/SvcInfo" binding="basicHttpBinding" bindingConfiguration="ServiceInfoProcessing_ICWSServiceInformation" contract="Svc.ICWSServiceInformation" name="ServiceInfoProcessing_ICWSServiceInformation"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
